/* body {
  background: linear-gradient(135deg, #101010, #1a1a1a, #222222);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

.container {
  min-height: 100vh;
  margin-top: 100px;
}

table {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  width: 20%;
}
