/*  Estilização gerais para fotos, background de pages e tabelas */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td, td, th {
  border: 0px;
} 

img {
  cursor: pointer;
}

.background, body {
  background: url('./../assets/wallpaper.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
